*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    /* color: #fff; */
  
}




:root{
    --color-primary: #8b32f7;
    --color-success: #00bf8e;
    --color-warning: #f7c94b;
    --color-danger: #f75842;
    --color-danger-varient: #6c63ff;
    --color-white: #fff;
    --color-light: #ffd;
    --color-black: #000;
    --color-bg: #efeff0;
    --color-bg1: #8afca5;
    --color-bg2: #091770;

    --container-width-lg:76%;
    --container-width-md:90%;
    --container-width-sm:94%;

    --transition: all 400ms ease-out;

}


body{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;
    color: var(--color-white);
    background: var(--color-bg);
   
}
body::-webkit-scrollbar {
    display: none; 
  }

  section{
    padding: 96px 0;

}

.section-m1{
    margin: 40px 0;
}
/* 
section h2{
    text-align: center;
    margin-bottom: 64px;
} */

h1,h2,h3,h4{
    line-height: 1.2;
}

h1{
    font-size: 46px;
}

h2{
    font-size: 38px;
}

h3{
    font-size: 24px;
}

h4{
    font-size: 18px;
}

.btn{
    display: inline-block;
    background: var(--color-white);
    color: var(--color-black);
    padding: 16px 32px;
    border: 1px solid transparent;
    font-weight: 500;
    transition: var(--transition);
}

.btn:hover{
    background: transparent;
    color: var(--color-bg2);
    border-color: var(--color-bg2);
}

.btn-primary{
    background: var(--color-danger);
    color: var(--color-white);

}

nav{
    background: transparent;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    z-index: 1;
}

.logo{
    margin-left: 100px;
    padding: 40px 0;
}

/* js nav bar change */
.window-scroll{
    background: var(--color-success);
    box-shadow: 0 16px 32px rgb(160, 160, 160);
   

}

.nav_container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
nav button{
    display: none;
}

.nav_menu{
    display: flex;
    align-items: center;
    
}

.nav_menu a{
    font-size: 15px;
    color: black;
}

.nav_menu li{
    padding: 0 40px;
    position: relative;


}
.nav_menu a i{
    color:var(--color-black);
    font-size: 25px;
    margin-right: 100px;
}

.nav_menu a:hover{
    color: var(--color-bg2);
    transition: var(--transition);
    
}
.nav_menu a:hover, .nav_menu a.active{
    color: var(--color-bg2);

}

.nav_menu a.active::after, .nav_menu a:hover::after{
    content: "";
    width: 20%;
    height: 2px;
    background: var(--color-bg2);
    position: absolute;
    bottom: -2px;
    left: 40px;

}
#mobile{
    display: none;
    align-items: center;
}

#close{
    display: none;
}


/*  header */

#hero{
    background-image: url(./img/hero4.png);
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 5% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-repeat: none;
}

#hero h4{
    padding-bottom: 15px;
    color: #000;
    margin-left: 60px;
}

#hero h2{
    color: #000;
    margin-left: 60px;
}

#hero h1{
    color: var(--color-success);
    margin-left: 60px;

}
#hero .btn-primary{
    margin-left: 60px;
}


#hero p{
    margin-top: 10px;
    margin-bottom: 20px;
    color: var(--color-white);
    margin-left: 60px;
}

/* features section */

.section-p1{
    padding: 40px 80px;
    
}

#feature .fe-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    background: var(--color-white);
}

#feature .fe-box:hover{
    scale: 1.03;
    transition: var(--transition);
}

#feature .fe-box h6{
    line-height: 1;
    font-size: 14px;
    margin-top: 10px;
    color: var(--color-success);
}

#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 60px;
    margin-right: 60px;
    
}

/* products */



#product1 .pro-container{
    margin-top: 20px;
    margin-left: 60px;
    margin-right: 60px;
    display:flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
    
}
#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    background: var(--color-white);
    cursor: pointer;
    box-shadow: 20px 20px 30px rgb(160, 160, 160);
    margin: 15px 10px;
    position: relative;


}

#product1 h2{
    text-align: center;
    color: var(--color-success);
    letter-spacing: 1.3px
}

#product1 p{
    color: var(--color-black);
    text-align: center;
    letter-spacing: 1.5px;
}


#product1 .pro:hover{
    scale: 1.03;
    transition: var(--transition);
}
#product1 .pro img{
    width: 100%;
    padding: 10px;
}

#product1 .pro h5{
    color: #000;
}
#product1 .pro h4{
    color: var(--color-success);
}

#product1 .pro .description{

    padding: 10px 0;

}

#product1 .pro .description span{
    color: #000;
    font-size: 13px;

}

#product1 .pro .description h5{
    padding-top: 0px;
    font-size: 17px;
}

#product1 .pro .star{
    color: var(--color-warning);
}
#product1 .pro .cart{
    width: 60px;
    height: 60px;
    line-height: 40px;
    border-radius: 50px;
    color: var(--color-warning);
    background-color: var(--color-white);
    font-weight: 500;
    padding: 15px 0;
    padding-bottom: 20px;
    font-size: 30px;
    position: absolute;
    right: 10px;
    bottom: 20px;
    text-align: center;

}

#product1 .pro .cart:hover{
    color: var(--color-white);
    background: var(--color-warning);
    transition: var(--transition);
}

/* banner */

#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(./img/banner/b2.jpg);
    width: 100%;
    height: 280px;
    background-position: center;
    background-size: cover;
    
}
#banner h4{

    margin-bottom: 10px;
}

#banner h2 span{
    color: #f75842;
}

#banner .btn{
    margin-top: 50px;
}

#banner .btn:hover{
    color: var(--color-warning);
    border-color: #f7c94b;
    
   
}

/* new arrivls */



#product2 .pro-container{
    margin-top: 20px;
    margin-left: 160px;
    margin-right: 160px;
    display:flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
    
}
#product2 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    background: var(--color-white);
    cursor: pointer;
    box-shadow: 20px 20px 30px rgb(160, 160, 160);
    margin: 15px 10px;
    position: relative;


}

#product2 h2{
    text-align: center;
    color: var(--color-primary);
    letter-spacing: 1.3px
}

#product2 p{
    color: var(--color-warning);
    text-align: center;
    letter-spacing: 1.5px;
}


#product2 .pro:hover{
    scale: 1.03;
    transition: var(--transition);
}
#product2 .pro img{
    width: 100%;
    padding: 10px;
}

#product2 .pro h5{
    color: #000;
}
#product2 .pro h4{
    color: var(--color-success);
}

#product2 .pro .description{

    padding: 10px 0;

}

#product2 .pro .description span{
    color: #000;
    font-size: 13px;

}

#product2 .pro .description h5{
    padding-top: 0px;
    font-size: 17px;
}

#product2 .pro .star{
    color: var(--color-warning);
}
#product2 .pro .cart{
    width: 60px;
    height: 60px;
    line-height: 40px;
    border-radius: 50px;
    color: var(--color-warning);
    background-color: var(--color-white);
    font-weight: 500;
    padding: 15px 0;
    padding-bottom: 20px;
    font-size: 30px;
    position: absolute;
    right: 10px;
    bottom: 20px;
    text-align: center;

}

#product2 .pro .cart:hover{
    color: var(--color-white);
    background: var(--color-warning);
    transition: var(--transition);
}

/* footer banners */
#sm-banner{
    display: flex;
    justify-content: space-between;
    margin-left: 140px;
    margin-right: 140px;
    gap: 30px;

}

#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(./img/banner/b17.jpg);
    width: 800px;
    height: 330px;
    background-position: center;
    background-size: cover;  
    padding: 20px;
}
#sm-banner .banner-box2{
    background-image: url(./img/banner/b10.jpg);

}


#sm-banner .btn{
    margin-top: 20px;
    background: transparent;
    border: 1px solid var(--color-bg);

}

#sm-banner .btn:hover{
    border-color: var(--color-primary);
}


/* text banners */

#t-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
    margin-left: 60px;
    margin-right: 60px;
}


#t-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(./img/banner/b7.jpg);
    width: 30%;
    height: 300px;
    background-position: center;
    background-size: cover;  
    padding: 20px;
    margin-bottom: 20px;
}

#t-banner .banner-box h4{
    color: var(--color-warning);

}

#t-banner .banner-box2{
    background-image: url(./img/banner/b18.jpg);

}


#t-banner .banner-box3{
    background-image: url(./img/banner/b4.jpg);
}

#t-banner .banner-box h2{
    text-shadow: 5px 5px 10px rgb(20, 20, 20);
}

#t-banner .banner-box2 h2{
    text-shadow: 5px 5px 10px rgb(20, 20, 20);
}
#t-banner .banner-box3 h2{
    text-shadow: 5px 5px 10px rgb(20, 20, 20);
}


/* news letters */

#newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    align-items: center;
    background-image: url(./img/banner/b14.png);
    background-repeat: no-repeat;
    background-color: var(--color-black);
    background-position: 20% 30%;
    margin-bottom: 20px;
}

#newsletter .newstext{
    margin-left: 60px;

}

#newsletter h4{
    font-size: 24px;
    color: var(--color-bg1);
}
#newsletter p{
    font-size: 18px;
    font-weight: 0;
    font-style: italic;
}

#newsletter span{
    color: red;
}
#newsletter .form{
    display: flex;
    width: 30%;
    height: 50px;
    margin-right: 60px;
}
#newsletter input{
    height: 50px;
    padding: 0 20px;
    font-weight: 14px;
    width: 100%;

}

#newsletter button{
    background-color: var(--color-success);
    width: 35%;
}

#newsletter button:hover{
    border: none;
    transition: none;
    color: black;
}
/* footer */

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;

}
footer .logo{
    margin-bottom: 10px;
    margin-left: 0;
    cursor: pointer;
}

footer h4{
    color: var(--color-black);
    font-size: 18px;
    padding-bottom: 20px;
}

footer .row{
cursor: pointer;

}

footer .row .im1:hover, .im2:hover{
    scale: 1.03;
    transition: var(--transition);
}

footer p{
    font-size: 13px;
    margin:  0 0 8px 0;
    color: var(--color-black);
}

footer a{
    text-decoration: none;
    color: var(--color-black);

}

footer .icon{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.footer_copyright{
    text-align: center;
    color: var(--color-black);
    margin-bottom: 20px;
    padding-bottom: 20px;
}

footer a:hover{
    transition: var(--transition);
    color: var(--color-bg1);
}

/* responsive */

@media (max-width:799px){
    .section-p1{
        padding: 40px 80px;
    }
    .nav_menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color:#00bf8e;
        box-shadow: 0 40px 60px rgb(0, 0, 0,0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;

    }

    .nav_menu.active{
        right: 0px;
    }

    .nav_menu li{
        margin-bottom: 25px;
    }

    #mobile{
        display: flex;
        align-items: center;
    }

    #mobile{
        color: #000;
        font-size: 24px;
        padding-right: 100px;
    }

    #close{
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #000;
        font-size: 24px;
        

    }
    #lg-bag{
        display: none;
    }

    #hero{
        height: 70vh;
        padding:  0 80px;
        background-position: top 30% right 30%;
    }

    #feature{
        justify-content: center;
        
    }

    #feature .fe-box{
        margin: 15px 15px;

    }
    #product1 .pro-container{
        justify-content: center;
    }

    #product1 .pro{
        margin: 15px;
    }

    #banner{
        height: 20vh;
    }


    #sm-banner .banner-box{
        min-width: 100%;
        height: 30vh;
        
    }

    #banner3{
        padding: 0 40px;
    }
    #banner3 .banner-box{
        width: 28%;
    }

    #newsletter .form{
        width: 70%;
    }
}

@media (max-width : 477px){

    .section-p1{
        padding: 20px;
    }
    #header{
        padding: 10px 30px;

    }
    h1{
        font-size: 38px;
    }
    h2{
        font-size: 32px;
    }

    #hero{
        padding: 0 20px;
        background-position: 55%;
    }

    #feature .fe-box{
        width: 155px;
        margin: 0 0 15px 0;
    }

    #product1 .pro{
        width: 100%;
    }

    #banner{
        height: 40vh;
    }

    #sm-banner .banner-box{
        height: 40vh;

    }

    #sm-banner .banner-box2{
        margin-top: 20px;
    }

    #banner3{
        padding: 0 20px;
    }

    #banner3 .banner-box{
        width: 100%;
    }

    #newsletter{
        padding: 40px 20px;
    }

    #newsletter .form{
        width: 100%;
    }

    .footer_copyright{
        text-align: start;
    }


}

